@model Post

@{
    ViewData["Title"] = "Create Post";
}

<h1>Create a Post</h1>

@if ( ViewBag.PostTypeId == null){
    <table class="tb "  style="width:800px;">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Code
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.PostType)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Code
                    </td>
                    <td>
                        <a asp-action="Create" asp-route-postTypeId="@item.PostTypeId">Create a Post</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else {

<div class="row">
    <div class="col-md-10">
            <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostTypeId" class="control-label">Post Type:</label>
                    <span class="form-control">@ViewBag.PostType.Title</span>
                <input asp-for="PostTypeId" type="hidden" value="@ViewBag.PostType.PostTypeId" />
            </div>
            
            <div class="form-group">
                <label class="control-label">Terms</label>
                <select name="termIdList" class="form-control multipleSelect" multiple>
                    @foreach (var i in ViewBag.Terms){
                        <option value="@i.TermId">@i.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PostTitle" class="control-label"></label>
                <input asp-for="PostTitle" class="form-control" />
                <span asp-validation-for="PostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                    <textarea asp-for="Details" class="form-control"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                    <textarea asp-for="Summary" class="form-control"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>

                
            <div class="form-group pb-2">
                <label asp-for="Image" class="control-label">Post Image</label>
                <input asp-for="ImageUpload" class="form-control" />
                <img src="" id="imgPreview" class="pt-2" alt="" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>


            
                <script>
                    $('.multipleSelect').fastselect();
                </script>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" herf="/admin/posttypes">Back to List</a>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 <script>
        CKEDITOR.replace("Details")
      
 </script>
}
@section MultiSelect{
   
    <link rel="stylesheet" href="~/lib/MultiSelect/fastselect.css">
    <script src="~/lib/MultiSelect/fastselect.js"></script>
}
<script>
    $("#ImageUpload").change(function () {
        readURL(this);
    });
</script>

